/* Home page */
.parallaxHome {
    /* The image used */
    background-image: url("img/header.jpg");

    /* Set a specific height */
    min-height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



/* News page */
.parallax {
    /* The image used */
    background-image: url("img/twopuppies.jpg");

    /* Set a specific height */
    min-height: 250px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* News page */
.parallaxContact {
    /* The image used */
    background-image: url("img/rat.jpg");

    /* Set a specific height */
    min-height: 250px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}